.form-user {
    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.add-user-form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
    align-items: center;
}