/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Bebas+Neue&display=swap');

/* Styles généraux pour les titres et paragraphes */
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'Autour One', sans-serif;
}

.admin {
    height: 100vh;
}

/* Styles pour les formulaires d'ajout et de mise à jour d'utilisateur */
.form-user,
.add-user-form,
.single-user-form,
.add-car-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.add-user-form,
.add-car-form {
    margin-bottom: 5%;
}

.form-user input,
.add-user-form input,
.single-user-form input,
.add-car-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
}

.form-user button,
.add-user-form button,
.single-user-form button,
.add-car-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

/* Styles pour la liste des utilisateurs */
.liste-users,
.liste-cars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.user-unique,
.car-unique {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-unique h4,
.car-unique h4 {
    font-weight: bold;
    margin: 0;
}

.user-unique p,
.car-unique p {
    color: #333;
}

.delete,
.update {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
}

/* Styles pour la page d'administration */
.admin-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #333;
}

.contenaire-u {
    display: flex;
    justify-content: center;
    height: 73vh;
    background: #fff;

}

.single-user-form {
    width: 39%;
    background-color: antiquewhite;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}

/* Responsive */
@media (max-width: 768px) {

    .form-user,
    .add-user-form,
    .single-user-form,
    .form-car,
    .add-car-form {
        width: 100%;
    }

    .crud-container {
        max-width: 100%;
    }

    .liste-users,
    .liste-cars {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }

    .single-user-form {
        width: 80%;
        margin: 19%;
    }

    .admin {
        height: 100vh;
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-user-form {
        margin-bottom: 15%;
    }

    .contenaire-u {
        height: 75vh;
    }
}