.connexion {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    gap: 25px;
}

.enregistrer-form,
.connecter-form {
    display: flex;
    flex-direction: column;
}