@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Bebas+Neue&display=swap');
/* Définition de la taille de la police en pourcentage (1rem équivaut à 10 pixels) */
h1 ,h2,h3,h4,h5{
    font-family: 'Bebas Neue',sans-serif ;
}

p{
    font-family: 'Autour One',sans-serif;
}


/* Footer Styles */
footer {
  color: #fff;
  background-image: linear-gradient(90deg, rgba(39, 27, 111, 1) 0%, rgba(87, 25, 45, 1) 100%);
  position: relative;
  width: 100%;
  height: 100%;

  /*border-top-left-radius: 70px;*/
  font-size: 0.8rem;
}

.footer-contenaire {

  padding-top: 20px;
  padding-bottom: 20px;
 
  gap: 50px;

}




.link-des {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link-des a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.link-des a:hover {
  color: #FB2576;
  transition: linear 0.3s;
}



.copyright {
  text-align: center;
}

.copyright hr {
  width: 60%;
  margin: 2px auto;
  opacity: 40%;
  border: 0.01px solid rgb(220, 203, 17);
}

.copyright p {
  padding: 20px;
}

@media (max-width: 960px) {
  footer {
    width: 100%;
    top: 120px;
  }

}
